<<<<<<< HEAD
.login-form{
    margin-top: 3rem;

  

    form {
        display: block;
        position: relative;
        &::after {
            content: "";
            // width: 100%;
            display: block;
            position: absolute;
            top:  -15px;
            left: -15px;
            right: -15px;
            bottom: -15px;
            z-index: 1;
            background-image: linear-gradient(to bottom right, #CF1F1F, #ffb8b8);
        }

        .form-inner{
            position: relative;
            display: block;
            padding: 50px;
            
            z-index: 2;
            background-color: rgb(44, 44, 44);
        }

        h2{
            color: #888;
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        .form-group{
            display: block;
            width: 800px;
            margin-bottom: 25px;
        }

        label{
            display: block;
            color: rgb(114, 114, 114);
            font-weight: bold;
            font-size: 1rem;
            margin-bottom: 15px;
            transition: 0.4s;
            &:focus{
                color: #fe4880;
            }
        }

        input{
            display: block;
            width: 100%;
            padding: 20px 15px;
            background-color: #f8f8f8;
            border-radius: 8px;
            transition: 0.4s;
            &:focus{
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
            }
        }
        input[type="submit"] {
            display:block;
            width: 30%;
            color: #fff;
            padding: 20px 15px;
            border-radius: 8px;
            background-color: #CF1F1F ;
            transition: 0.4s;
            font-weight: 700;
            cursor: pointer;
            &:hover{
                opacity: 0.6;
            }
        }
        .error{
            color: red;
            font-size: 1.5rem;
            margin: 1.5rem;
        }


    }
=======
// .login-form{
//     margin-top: 3rem;

  

//     form {
//         display: block;
//         position: relative;
//         &::after {
//             content: "";
//             // width: 100%;
//             display: block;
//             position: absolute;
//             top:  -15px;
//             left: -15px;
//             right: -15px;
//             bottom: -15px;
//             z-index: 1;
//             background-image: linear-gradient(to bottom right, #CF1F1F, #ffb8b8);
//         }

//         .form-inner{
//             position: relative;
//             display: block;
//             padding: 50px;
            
//             z-index: 2;
//             background-color: rgb(44, 44, 44);
//         }

//         h2{
//             color: #888;
//             font-size: 28px;
//             font-weight: 500;
//             margin-bottom: 30px;
//         }

//         .form-group{
//             display: block;
//             width: 800px;
//             margin-bottom: 25px;
//         }

//         label{
//             display: block;
//             color: rgb(114, 114, 114);
//             font-weight: bold;
//             font-size: 1rem;
//             margin-bottom: 15px;
//             transition: 0.4s;
//             &:focus{
//                 color: #fe4880;
//             }
//         }

//         input{
//             display: block;
//             width: 100%;
//             padding: 20px 15px;
//             background-color: #f8f8f8;
//             border-radius: 8px;
//             transition: 0.4s;
//             &:focus{
//                 box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
//             }
//         }
//         input[type="submit"] {
//             display:block;
//             width: 30%;
//             color: #fff;
//             padding: 20px 15px;
//             border-radius: 8px;
//             background-color: #CF1F1F ;
//             transition: 0.4s;
//             font-weight: 700;
//             cursor: pointer;
//             &:hover{
//                 opacity: 0.6;
//             }
//         }
//         .error{
//             color: red;
//             font-size: 1.5rem;
//             margin: 1.5rem;
//         }


//     }
// }

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
>>>>>>> e229299ecf630721b077977cf6c74180af7b2a30
}
    
