.popular-movies{
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    // margin: 8rem 0;
    border: 1px solid red;
    // overflow: hidden;
    

    
}