.home{
  width: 100%;
  border: 1px solid red;
  .home-container {
    border: 1px solid green;
  
    padding-top: 10rem;
   

  }
  .center{
    height: 100%;
    // width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-signIn {
    background-color: #CF1F1F; 
    border: none;
    color: #fff;
    width: 30%;
    padding: 15px 32px;
    margin: 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    opacity: 1;
    transition : 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }

  button {
    color: #CF1F1F;
   
    &:focus{
      background-color: #313131;
    }

  }
  .welcome{
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    padding:  30px 30px;

    h3 {
      color: #888;
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 50px;
    }
    span{
      color: #fe4880;
      font-weight: 700;
    }
    button {
      display:block;
      width: 30%;
      color: #fff;
      padding: 20px 15px;
      border-radius: 8px;
      background-color: #CF1F1F ;
      transition: 0.4s;
      font-weight: 700;
      cursor: pointer;
      &:hover{
          opacity: 0.6;
      }
    }
  }


}
     
    
