.movies{
    width: 100%;
    padding: 10rem 0;
<<<<<<< HEAD
    
=======
    border: 1px solid blue;
>>>>>>> e229299ecf630721b077977cf6c74180af7b2a30
    

    .discover-movies{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // align-items: center;
        margin: 2rem;
<<<<<<< HEAD
       
=======
        border: 1px solid red;
>>>>>>> e229299ecf630721b077977cf6c74180af7b2a30
    }

    button {
        color: #CF1F1F;
       
        &:focus{
          background-color: #313131;
        }
    
      }
}