.movies{
    width: 100%;
    padding: 10rem 0;
    border: 1px solid blue;
    

    .discover-movies{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // align-items: center;
        margin: 2rem;
        border: 1px solid red;
    }

    button {
        color: #CF1F1F;
       
        &:focus{
          background-color: #313131;
        }
    
      }
}