.search{
<<<<<<< HEAD
    
    // width: 100%;
    padding:  5rem 18rem;
=======
    width: 100%;
    padding-top: 15rem;
>>>>>>> e229299ecf630721b077977cf6c74180af7b2a30
 
    

    .search-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
<<<<<<< HEAD
        align-items: center;
        margin: 2rem;
       
    }
 
=======
        // align-items: center;
        margin: 2rem;
       
    }
>>>>>>> e229299ecf630721b077977cf6c74180af7b2a30

    button {
        color: #CF1F1F;
       
        &:focus{
          background-color: #313131;
        }
    
      }
}