.series{
    width: 100%;
    padding-top: 10rem;

    .tv{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // align-items: center;
        margin: 2rem;
<<<<<<< HEAD
       
=======
        border: 1px solid red;
>>>>>>> e229299ecf630721b077977cf6c74180af7b2a30
    }

    button {
        color: #CF1F1F;
       
        &:focus{
          background-color: #313131;
        }
    
      
    }
}